<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript">
    var queryURL = "http://127.0.0.1:9999/names";
    d3.json(queryURL, function(error, response) {
      console.log(response);
      var select = document.getElementById("selDataset")
      for(var i = 0; i < response.length; i++){
          var item = response[i];
          var el = document.createElement("option");
          el.textContent = item; 
          el.value = item; 
          select.appendChild(el);
      }
    })
</script>
</head>
<body>
    <div class="container">
        <div class="row">
        </div>
        <div class="row"> 
            <div class="col-sm-3">
                <br>
                <br>
                <br>
                <select id="selDataset" onchange="optionChanged(this.value)">  
                </select>
                <br>
                <table class= "table" id= "sample_metadata">
                </table>
            </div>
            <div class="col-sm-5">
                <div id="plot"></div>
            </div>
            <div class="col-sm-4">
                <h1>Belly Button Biodiversity Dashboard</h1>
                <hr/>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      function optionChanged(sample_id) {
        var queryURL = "http://127.0.0.1:9999/samples/" + sample_id;
        d3.json(queryURL, function(error, response) {
          console.log(response["otu_ids"].slice(0,10));
          var top10otu_id = response["otu_ids"].slice(0,10);
          var top10sample_values = response["sample_values"].slice(0,10);
          var trace1 = {
              labels: top10otu_id, 
              values: top10sample_values,
              type: 'pie',
            };
            
            var data = [trace1];
            
            var layout = {
              title: '',
            };
            
            Plotly.newPlot('plot', data, layout);
          var metadataURL = "http://127.0.0.1:9999/metadata/" + sample_id;
          d3.json(metadataURL, function(error, response) {
            console.log(response);
      var select = document.getElementById("sample_metadata")
      for(var key in response[0]){
        console.log(response[0])
          var row = document.createElement("tr");
          var el = document.createElement("th");
          var el2 = document.createElement("td");
          el.textContent = key
          el2.textContent = " " + response[0][key]; 
          row.appendChild(el);
          row.appendChild(el2);
          select.appendChild(row);
          }}) 
      })} 
      optionChanged("BB_945");
    </script>
</body>
</html>